{% extends '::base.html.twig' %}
{% block title %}Accueil Admin{% endblock %}
{% block body %}
    <ul>
        <li><a href="{{ path('admin_adduser') }}">Ajouter User</a></li>
        <li><a href="{{ path('admin_addteam') }}">Ajouter Team</a></li>
        <li><a href="{{ path('admin_addmatch') }}">Ajouter Match</a></li>
        <li><a href="{{ path('admin_addclub') }}">Ajouter Club</a></li>
        <li><a href="{{ path('admin_addmedia') }}">Ajouter Album</a></li>
        <li><a href="{{ path('admin_addnew') }}">Ajouter New</a></li>
        <li><a href="{{ path('acbb_logout') }}">Deconnexion</a></li>
    </ul>
{% endblock %}