{% extends '::base.html.twig' %}
{% block title %}Inscription - ACBB{% endblock %}

{% block body %}
<div class="container">
    <form action="#" method="post">
         <div class="separate">
            <hr>
            <p>Connexion à votre espace membre</p>
            <hr>
        </div>
        <div class="login-wrap">
          <form class="form-horizontal" role="form">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 control-label">
                Nom d'utilisateur</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputUser" placeholder="Nom d'utilisateur" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 control-label">
                Mot de passe</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPsw" placeholder="Mot de passe" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" /> Se rappeler de moi
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row last">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success btn-sm">Se connecter</button>
              </div>
            </div>
          </form>
        </div>
    </form>

    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="separate">
                <hr>
                <p>Pas de compte? Inscrivez-vous !</p>
                <hr>
            </div>
            <div class="stepwizard-step col-xs-4"> 
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p>Informations générales</p>
            </div>
            <div class="stepwizard-step col-xs-4"> 
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Cotisation</p>
            </div>
            <div class="stepwizard-step col-xs-4"> 
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Validation</p>
            </div>
        </div>
    </div>

    {{ form_start(form) }}

        {{ form_errors(form) }}
    	<p>* champ obligatoire</p>
        <div class="panel panel-primary setup-content" id="step-1">
            <div class="panel-body row">
            	<div class="col-sm-6">
	                <div class="form-group">
                        {{ form_row(form.username,{'attr': {'class': 'form-control'}}) }}
                    </div>
	                <div class="form-group form-radio">
                        {{ form_row(form.gender) }}

                    </div>
	                <div class="form-group">
                        {{ form_row(form.number, {'attr': {'class': 'form-control'}}) }}

                    </div>
                    <div class="form-group">
                        {{ form_row(form.street, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.zipCode, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}

                    </div>
                </div>
                <div class="col-sm-6">
	                <div class="form-group">
                        {{ form_row(form.dateBirth) }}
	                </div>
	                <div class="form-group">
                        {{ form_row(form.nationality, {'attr': {'class': 'form-control'}}) }}
                    </div>
	                <div class="form-group">
                        {{ form_row(form.jobPhone, {'attr': {'class': 'form-control'}}) }}
	                </div>
	                <div class="form-group">
                        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
	                </div>
                    <div class="form-group">
                        {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
                    </div>
	                <div class="form-group">
                        {{ form_row(form.photo) }}
	                </div>
                </div>
            </div>

            <button class="btn btn-primary nextBtn pull-right" type="button">Suivant</button>
        </div>
        
        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-body row">
                <div class="col-sm-6">
	                <div class="form-group">
                        {{ form_row(form.tarif) }}
	                </div>
	                <div class="form-group">
                        {{ form_row(form.category) }}
	                </div>
	                <div class="form-group form-radio">
                        {{ form_row(form.insurance) }}
	                </div>
                </div>
                <div class="col-sm-6">
	                <div class="form-group">
	                    <p class="price">Tarif indicatif : <span>505 €</span></p>
	                    <p>(Tarif 1ère année ou moins de 8 ans)</p>
	                </div>
                </div>
                <button class="btn btn-primary nextBtn pull-right" type="button">Suivant</button>
            </div>
        </div>
        
        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-body row">
                <div class="form-group form-radio">
                    {{ form_row(form.emergency) }}
                    <label class="checkbox-validate">En cas d'accident, j'autorise les dirigeants du club ou membres mandatés de la section Hockey sur glace de l'ACBB à faire appel aux services de secours d'urgence ou à faire transporter mon enfant dans le centre hospitalier le plus proche. Le responsable d'équipe me contactera aussitôt par téléphone.<br />Si allergique à certains médicaments ou traitements, préciser lesquels :</label>
                    {{ form_row(form.medicamentAllergy) }}

                </div>
                <div class="form-group form-radio">
                    {{ form_row(form.antidoping) }}
                    <label class="checkbox-validate">Conformément à l'article 7 du décret relatif aux prélèvements et examens autorisés dans les contrôles antidopage, j'autorise que soit effectué sur mon enfant un prélèvement nécessitant un prélèvement sanguin ou salivaire.</label>
                </div>
                <div class="form-group form-radio">
                    {{ form_row(form.trip) }}
    				<label class="checkbox-validate">Dans le cas où je suis dans l'impossibilité d'accompagner mon enfant lors de déplacements concernant la section Hockey sur glace (matchs, tournois, stages, compétitions, animations extérieures), je l'autorise à monter dans le véhicule conduit par un tiers (parent, responsable d'équipe ou membre du club).</label>
                </div>
                <div class="form-group form-radio">
                    {{ form_row(form.imageRight) }}
    				<label class="checkbox-validate">J’autorise la section Hockey sur glace de l'ACBB à afficher des photos ou vidéos où pourrait apparaître distinctement le joueur pour les usages suivants :
					- Site Internet de la section Hockey sur Glace et autres sites web en relation avec le sport
					- Mensuel du club ou autres publications sportives
					- Vitrine du club ou autre support de communication du club. Aucun profit financier lié à l'image du joueur ne pourra être utilisé sans l'accord de celui-ci ou de son tuteur légal.</label>
                </div>
                <div class="form-group form-radio">
                    {{ form_row(form.rules) }}
                    <label class="checkbox-validate">En souhaitant adhérer à la section Hockey sur glace de l'ACBB, j'accepte les conditions générales du Règlement Intérieur téléchargeable depuis le site web de la section. </label>
                </div>
                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary pull-right'}}) }}

                {#<button class="btn btn-primary pull-right" type="submit">Terminer l'inscription</button>#}
            </div>
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function () {

    var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
            $item = $(this);

        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('btn-success').addClass('btn-default');
            $item.addClass('btn-success');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function () {
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='tel'],input[type='file'],input[type='date']"),
            isValid = true;

        $(".form-group").removeClass("has-error");
        for (var i = 0; i < curInputs.length; i++) {
            if (!curInputs[i].validity.valid) {
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-success').trigger('click');
});
</script>
{% endblock %}